#!/usr/bin/expect -f

## Disable timeout
set timeout -1

spawn /usr/local/bin/start-vpn

expect "certificate password:"
send -- "{{ salt['pillar.get']('forticlient-vpn:credential:certpasswd') }}\r"

expect "Confirm \*:"
send -- "y\r"

expect eof
